header{
    display: flex;
    justify-content: space-between;
    padding: 30px 36px;
    font-family: 'Quicksand',
        sans-serif;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    z-index: 3;
    
}

.left-wrapper {display: flex;
    align-items: center;
    gap: 44px;

}

.logo{font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
    color: #000;
}

.btn{
    font-family: 'Quicksand',
            sans-serif;
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #0F8277;
    color: #eeee;
    font-weight: 700;
    font-size: 16px;
    
    position: relative;
}

#btn-explore{margin-right: 16px;}

#btn-explore::after{
            content:""; 
        width: 8px;
        height: 8px;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        background-color: #0F8277;
        right:  10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
}

#search{display: flex;
    width: 330px;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #5C5C5C;
}

#search input{width: 260px;
       border: none;
    padding: 10px 12px;
    margin-left: 1px;}

#search input::placeholder{
    color: #5C5C5C;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    font-family: 'Quicksand',
            sans-serif;
}

#search button{
    padding: 9px;
    border-left: 1px solid #5C5C5C;
    background: #0F8277;
    }

.right-wrapper{display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 104px;



}

nav{display: flex;
    gap: 48px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;}

.btn-menu{
    display: flex;
    
}

#log-in{color: #0F8277;
    background: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;}
