.rectangle-1{
    font-family: 'Quicksand',
            sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 96%;
    height: 602px;
    border-radius: 12px;
    background: #DBF3ED;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 80px;
}

.learn-comfortably{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h1{color: #000;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;}

.learn-comfortably p {
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    width: 482px;
}


.btn-container{display: flex;
      gap: 24px ;}

.btn-opacity{
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid #0F8277;
    color: #0F8277;
    text-align: center;
    font-family: 'Quicksand',sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    background: #DBF3ED;
    
}


.programs-for-you{
    margin: 0 36px;
}

.title-green{
    color: #0F8277;
    font-family: 'Quicksand',sans-serif;
font-size: 20px;
font-weight: 700;
line-height: 120%;
}

h2{font-size: 40px;
    font-family: 'Quicksand',sans-serif;
    font-weight: 700;
    line-height: 120%;}

.description{
    font-size: 20px;
font-weight: 500;
line-height: 120%;
font-family: 'Quicksand',sans-serif;
}

.best-programs{
    box-sizing: border-box;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    
}

.card-program{
    border-radius: 8px;
    border: 1px solid #DADADA;
    width: auto;

    
}

.img-card-program{
    display: flex;
    flex-direction: column;
    background-image: url(../images/academic-training/image-1.png);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width :482px; 
    height : 270px;
    background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;

}

.card-content{
    font-family: 'Quicksand',sans-serif;
    padding: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}


.education-wrapper{
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}

h3{font-size: 24px;
    font-weight: 700;
    line-height: 120%;}

.card-footer{ display: flex;
          gap: 12px;
        color: #0F8277 ;
    margin-top: 81px;}